/*------------------------------------*
	@COMPONENTS #BLOCK
\*------------------------------------*/

.block {
    background-color: rgba(#7f2623, 0.6);
    padding: 30px 30px 50px 30px;
    margin-left: -30px;
    margin-right: -30px;
    position: relative;
    text-align: center;
    align-self: stretch;
    margin-bottom: 80px;

    > * {
        margin-top: 0;
        margin-bottom: 0;
    }

    @media (max-width: $screen-sm) {	
        padding: 20px 20px 30px 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
}

.block--alt {
    padding: 25px;
    margin-bottom: 0;
}

    .block__text {
        color: $white;
        font-family: $alt-font;
        font-size: 24px;
        font-weight: 700; 
        margin-bottom: 0;

        @media (max-width: $screen-sm) {	
            font-size: 18px;
        }
    }

    .block__title {
        background: linear-gradient(#dbdbdb, #ffd200);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        filter: drop-shadow( 0 2px 5px rgba(0, 0, 0, 0.5));
    
        font-size: 80px;
        font-family: $base-font;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 0;

        @media (max-width: $screen-sm) {	
            font-size: 50px;
        }
    }

    .block__subtitle {
        color: $white;
        font-family: $base-font;
        font-weight: $base-font-weight;
        font-size: 40px;
        line-height: $base-line-height;
        text-transform: uppercase;

        @media (max-width: $screen-sm) {	
            font-size: 30px;
        }
    }

    .block__counter {
        font-family: $alt-font;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #c10000;
        background-color: $white;
        border-radius: 3px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 400px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include centerH;
        bottom: -40px;

        span {
            padding-left: 10px;
        }

        @media (max-width: $screen-sm) {	
            min-width: 280px;
            font-size: 16px;
            height: 40px;
            bottom: -30px;
        }
    }