/*------------------------------------*
    @OBJECTS #FORMS
\*------------------------------------*/

.form__input {
    vertical-align: middle;
    padding: 0;
    outline: none !important;

    .form__input:not(textarea) {
    	@include trans;
    }
}

textarea.form__input {
	resize: none;
    overflow-x: hidden;
    line-height: 1.5;
    // min-height: 40px;
    padding-top: 8px;
}

// SPINNERS
// For Firefox
input[type='number'] {
    -moz-appearance:textfield;
}

// Webkit browsers like Safari and Chrome
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}